/**
 * Responsive
 *
 * @package Premise WP
 * @subpackage CSS
 */

.premise-show-on-mobile {
	display: inline-block;
}

.premise-hide-on-mobile {
	display: none;
}

/* trys to force an element to be fullwidth on mobile devices */
.premise-fullwidth-on-mobile {
	width:100%;
}


@media screen and ( min-width: 700px ) {
	/* Set the responsive sizes for column grid - for Desktop */
	.col2,
	.col4 {
		width:48%;
	}
	.col3,
	.col5,
	.col6 {
		width:31.33%;
	}

	/* shows element on mobile devices, otherwise hides it. */
	.premise-show-on-mobile {
		display: none;
	}
	/* hides element on mobile devices */
	.premise-hide-on-mobile {
		display: block;
	}
}


@media screen and ( min-width: 1024px ) {
	/* Set the final sizes for column grid - for Desktop */
	.col2 {
		width:48%;
	}

	.col3 {
		width:31.33%;
	}

	.col4 {
		width:23%;
	}

	.col5 {
		width:18%;
	}

	.col6 {
		width:14.6%;
	}
}