/**
 * Front end CSS Styling
 *
 * @package Premise Tabs
 */

.pwptabs-wrapper {
	overflow: hidden;
}

.pwptabs-wrapper .pwptabs,
.pwptabs-wrapper .pwptabs-tab,
.pwptabs-wrapper .pwptabs-toggle,
.pwptabs-wrapper .pwptabs-content {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.pwptabs-wrapper .pwptabs-toggle {
	display: block;
	cursor: pointer;
}

.pwptabs-wrapper .pwptabs-loading-content {
	position: relative;
}

.pwptabs-wrapper .pwptabs-loading-content i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px;
}

.pwptabs-wrapper .pwptabs-content {
	overflow:auto;
}

/*
	Accordion Layout
*/

/* Vertical Accordion */
.pwptabs-wrapper .pwptabs-layout-accordion.pwptabs-layout-vertical .pwptabs-tab {
	display: block;
	overflow: hidden;
}

/* Horizontal Accordion */
.pwptabs-wrapper .pwptabs-layout-accordion.pwptabs-layout-horizontal .pwptabs-tab:after {
	content: '';
	display: table;
	clear: both;
}

.pwptabs-wrapper .pwptabs-layout-accordion.pwptabs-layout-horizontal .pwptabs-tab {
	display: inline-block;
	vertical-align: top;
}

.pwptabs-wrapper .pwptabs-layout-accordion.pwptabs-layout-horizontal .pwptabs-toggle,
.pwptabs-wrapper .pwptabs-layout-accordion.pwptabs-layout-horizontal .pwptabs-content {
	float: left;
}

.pwptabs-wrapper .pwptabs-layout-accordion.pwptabs-layout-horizontal .pwptabs-content {
	overflow: hidden;
}


/*
	Tabs Layout
*/

.pwptabs-wrapper .pwptabs-layout-tabs {
	position: relative;
}

.pwptabs-wrapper .pwptabs-layout-tabs .pwptabs-tab {
	display: inline-block;
	vertical-align: top;
}

.pwptabs-wrapper .pwptabs-layout-tabs .pwptabs-content {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: auto;
}


/**
 * pwptabs-layout-wp-theme-options Skin
 */

.pwptabs-wrapper.pwptabs-layout-wp-theme-options {
	position: relative;
	padding-top: 56.4%;
	margin: 40px auto;
	border: 1px solid #444444;
}

.pwptabs-wrapper.pwptabs-layout-wp-theme-options .pwptabs-tabs-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.pwptabs-wrapper.pwptabs-layout-wp-theme-options .pwptabs-tabs-inner .pwptabs {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background: #444444;
}

.pwptabs-wrapper.pwptabs-layout-wp-theme-options .pwptabs-tabs-inner .pwptabs-tab {
	display: block;
	width: 25%;
	outline: 0;
}

.pwptabs-wrapper.pwptabs-layout-wp-theme-options .pwptabs-toggle {
	padding: 15px 0 15px 15px;
	background: #444444;
	color: #FFFFFF;
	/*border-bottom: 1px solid #FFFFFF;*/
	border-top: 0;
	text-decoration: none;
	transition: all .4s ease;
	position: relative;
}

.pwptabs-wrapper.pwptabs-layout-wp-theme-options .pwptabs-tab.pwptabs-active .pwptabs-toggle,
.pwptabs-wrapper.pwptabs-layout-wp-theme-options .pwptabs-toggle:hover {
	background: #222222;
}

.pwptabs-wrapper.pwptabs-layout-wp-theme-options .pwptabs-tab.pwptabs-active .pwptabs-toggle:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #FFFFFF transparent transparent;
	margin-top: -10px;
}

.pwptabs-wrapper.pwptabs-layout-wp-theme-options .pwptabs-tab-icon,
.pwptabs-wrapper.pwptabs-layout-wp-theme-options .pwptabs-tab-title {
	display: inline;
	font-size: 18px;
	line-height: 22px;
	font-family: 'Open Sans';
	font-weight: 100;
}

.pwptabs-wrapper.pwptabs-layout-wp-theme-options .pwptabs-tab-icon {
	margin-right: 10px;
}

.pwptabs-wrapper.pwptabs-layout-wp-theme-options .pwptabs-content {
	background-color: #FFFFFF;
	border-left: 0;
	position: absolute;
	top: 0;
	left: 25%;
	width: 75%;
	height: 100%;
	overflow: auto;
}

.pwptabs-wrapper.pwptabs-layout-wp-theme-options .pwptabs-content-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 20px;
	box-sizing: border-box;

}