/**
 * Premise WP Framework
 *
 * Admin side CSS
 *
 * @package Premise WP
 * @subpackage CSS
 */

/**
 * Premise admin Globals
 */
.premise-admin,
.premise-admin p{
	font-size: 20px;
}

.premise-admin p{
	font-weight: 300;
	color: #777;
}




