/*
 * Premise WP
 *
 * Global CSS Styling
 *
 * @package Premise WP
 * @subpackage CSS
 */


/**
 * Premise WP Resets
 *
 * @since 1.4.7
 *
 * Basic styles for wordpress editor
 */
img[class*=" wp-image-"],
img[class^="wp-image-"] {
	max-width: 100%;
	height: auto;
}
/* Image Alignment */
img.alignnone {
	display: inline-block;
}

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	float: left;
	padding-right: 20px;
}

img.alignright {
	float: right;
	padding-left: 20px;
}


/**
 * Global Classes
 */
.premise-absolute {
	position:absolute;
}

.premise-relative {
	position:relative;
}

.premise-fixed {
	position:fixed;
}

.premise-block {
	display:block;
}

.premise-inline-block {
	display:inline-block;
}

.premise-border-box {
	box-sizing:border-box;
}

.premise-hidden {
	display:none;
}

.premise-responsive,
img.premise-responsive {
	max-width:100%;
	height:auto;
}

.premise-float-right {
	float:right;
}

.premise-float-left {
	float:left;
}

.premise-align-center {
	text-align:center;
}

.premise-align-left {
	text-align:left;
}

.premise-align-right {
	text-align:right;
}

.premise-align-justify {
	text-align:justify;
}

.premise-uppercase {
	text-transform: uppercase;
}

.premise-underline {
	text-decoration: underline;
}

.premise-not-underline {
	text-decoration: none;
}

/* This one is just helpful! */
.premise-clear-float:after {
	content:"";
	display:block;
	clear: both;
}

/* clear floats quickly */
.premise-clear {
	display:block;
	clear:both;
	width:100%;
}


/**
 * Premise CSS Grid Sysytem
 *
 * Premise WP has 2 responsive grids that you can use to build markup.
 * The 2 types of grids are Fluid Grids and Column Grids.
 *
 * Using both grids, you can build a row grid or inline grid. The difference
 * is that one floats elements and the other does not. The responsive behavior between
 * the row and inline grids is the same.
 *
 * Below you will find the styles that control these grids.
 * - Fluid Grid          - for the most common use cases every span except 5-7 will expand full width on mobile.
 * - Column Grid         - This grid stacks evenly when possible. at 700px and 1024px;
 * - Row Grid Wrapper    - uses floats for its inner elements.
 * - Inline Grid Wrapper - Uses inline-block for its inner elements
 */
/* the fliud grid */
.premise-row > .span2,
.premise-row > .span3,
.premise-row > .span4,
.premise-row > .span8,
.premise-row > .span9,
.premise-row > .span10 {
	width:98%;
	clear:both;
}
/* The column grid */
.col2,
.col3,
.col4,
.col5,
.col6 {
	width: 98%; /* mobie first approach - load mobile styles first */
}
/* the row grid wrapper */
.premise-row {
	display:block;
	margin-left:-1%;
	margin-right:-1%;
}
.premise-row:after {
	content:"";
	display:block;
	clear: both;
}
/* row grid */
.premise-row > [class^="span"],
.premise-row > [class*=" span"],
.premise-row > [class^="col"],
.premise-row > [class*=" col"] {
	float:left;
	margin-left:1%;
	margin-right:1%;
	box-sizing: border-box;
}
/* inline grid */
.premise-inline > [class^="span"],
.premise-inline > [class*=" span"],
.premise-inline > [class^="col"],
.premise-inline > [class*=" col"],
ul.premise-inline > li {
	display:inline-block;
}
/* Premise Scroller - use premise scroller to create a horizontal scroll using the column widths */
.premise-scroller {
	display: block;
	box-sizing: border-box;
	overflow: auto;
	white-space: nowrap;
}
/* make it vertical - you must add a max height for it to work */
.premise-scroller.vertical {
	white-space: normal;
}
.premise-scroller > [class^="span"],
.premise-scroller > [class*=" span"],
.premise-scroller > [class^="col"],
.premise-scroller > [class*=" col"] {
	display: inline-block;
	float: none;
	white-space: normal;
}

/**
 * Premise Video
 *
 * @see premise_output_video()
 */
.premise-video {
	/*width: 100%;  Deleting these properties will enable control
	height: 100%;   from premise_output_video() directly - MV */
}

.premise-vimeo-video {
	border: 0;
}